:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.allFormatCardsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligns cards in the center horizontally */
  gap: 10px; /* Space between cards */
  padding: 10px; /* Optional padding for the container */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
h1, h3 {
  padding-left:8px;
}
img {
  justify-self: center;
  /* scale:.5; */
  /* width:162px;
  height:237px; */
  width:134px;
  height:195.5px;
  margin:0;
  padding:0;
}